BOT_TOKEN=вставь_сюда_токен_бота
SUPABASE_URL=https://твой-проект.supabase.co
SUPABASE_KEY=вставь_сюда_anon_key_supabase
SUPABASE_PUBLISHABLE_KEY=вставь_сюда_anon_key_supabase
VITE_SUPABASE_URL=https://твой-проект.supabase.co
VITE_SUPABASE_KEY=вставь_сюда_anon_key_supabase
VITE_SUPABASE_PUBLISHABLE_KEY=вставь_сюда_anon_key_supabase